* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.site-header {
  display: flex;
  
  align-items: center;
  padding: 15px 30px;
  background: white;
  border-bottom: 3px solid black;
 
}


main {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
}

h1 {
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
  line-height: 1.6;
}




.logo {
  display: flex;
  align-items: center;
  gap: 2px;
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-weight: bold;
}

.logo img {
  height: 40px;
}

.nav-menu {
    margin-left: 40px;
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-menu a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.nav-menu a:hover {
  color: #0077cc;
}



.about-block {
 margin-top: 20px;
 margin-bottom: 40px;
 text-align: center;
}

.about-block img {
  width: 100%;
  max-width: 700px;
  margin-top: 20px;
  margin-bottom: 3px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
  height: auto;
}

.img-card {
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);
}

footer {
  text-align: center;
  font-size: 14px;
  color: #666;
  margin-top: 40px;
  padding: 20px 0;
  border-top: 1px solid #ddd;
}