* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: white;
  border-bottom: 3px solid black;
}







.logo {
  display: flex;
  align-items: center;
  gap: 2px;
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-weight: bold;
}

.logo img {
  height: 40px;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-menu a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.nav-menu a:hover {
  color: #0077cc;
}